/* jquery-seat-chart */
.cinema-wrapper {
	
}
/* 스크린 부분 */
.front-indicator {
	background-color: #f6f6f6;	
	color: #adadad;
	text-align: center;
	border-radius: 5%;
	margin-bottom: 30px;
}
/* 오른쪽 설명 박스 */
.booking-details {
	text-align: left;
	font-size: 1.0em;
}
.booking-details h2 {
	margin: 20px 0 20px 0;
	font-size: 1.2em;
}
div.seatCharts-cell {
	color: #182C4E;
	height: 20px;
	width: 20px;
	line-height: 20px;
	margin: 1px 1px;
	
}
div.seatCharts-seat {
	color: #FFFFFF;
	cursor: pointer;	
}
div.seatCharts-row {
	height: 20px;
}
div.seatCharts-seat.available {
	background-color: #B9DEA0;
}
div.seatCharts-seat.available.standard {
	background-color: #3a78c3;
}
div.seatCharts-seat.available.prime {
	background-color: navy;
}
div.seatCharts-seat.available.dis {
	background-color: teal;
}
div.seatCharts-seat.available.way {
	background-color: silver;
}
div.seatCharts-seat.focused {
	background-color: #76B474;
}
div.seatCharts-seat.selected {
	background-color: #E6CAC4;
}
div.seatCharts-seat.unavailable {
	background-color: #472B34;
}
/* 좌석 배치표 여백 */
div.seatCharts-container {
	width: 690px;
	height: 520px;
}
div.seatCharts-legend {
	padding-left: 0px;
	position: relative;
	bottom: 16px;
}
ul.seatCharts-legendList {
	padding-left: 0px;
}
span.seatCharts-legendDescription {
	margin-left: 5px;
	line-height: 30px;
	margin-right: 20px;
	float: left;
}
.checkout-button {
	display: block;
	margin: 10px 0;
	font-size: 14px;
}
#selected-seats {
	overflow-y: scroll;
	overflow-x: none;
	width: 500px;
}

