<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias type="com.gigabox.user.vo.UserVO" alias="user"/>
		<typeAlias type="com.gigabox.user.vo.UserVO" alias="join"/>
		<typeAlias type="com.gigabox.user.vo.UserVO" alias="login"/>
		<typeAlias type="com.gigabox.user.vo.UserVO" alias="modify"/>
		<typeAlias type="com.gigabox.user.vo.UserVO" alias="find"/>
		
		<typeAlias type="com.gigabox.cc.vo.FaqVO" alias="faq" />
		<typeAlias type="com.gigabox.cc.vo.NoticeVO" alias="notice" />
		<typeAlias type="com.gigabox.cc.vo.InquiryVO" alias="inquiry" />
		
		<typeAlias type="com.gigabox.movie.vo.MovieVO" alias="movie" />
		<typeAlias type="com.gigabox.movie.vo.RownumVO" alias="movieRownum" />
		
		<typeAlias type="com.gigabox.review.vo.ReviewVO" alias="review" />
		<typeAlias type="com.gigabox.review.vo.RownumVO" alias="reviewRownum" />
		
		<typeAlias type="com.gigabox.branch.vo.BranchVO" alias="branch" />
		
		<typeAlias type="com.gigabox.movieroom.vo.MovieRoomVO" alias="movieRoom" />
		<typeAlias type="com.gigabox.schedule.vo.ScheduleVO" alias="schedule" />
		
	</typeAliases>
	
</configuration>
