<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gigabox.mapper.BookmarkMapper">

	<resultMap id="bookmarkResultMap" type="bookmark">
		<result property="bookmarkNumber" column="BOOKMARK_NUMBER" />
		<result property="movieNumber" column="MOVIE_NUMBER" />
		<result property="userNumber" column="USER_NUMBER" />
	</resultMap>

	<select id="bookmarkList" resultType="bookmark" resultMap="bookmarkResultMap">
		SELECT *
		FROM TBL_BOOKMARK 
		WHERE USER_NUMBER = #{userNumber} 
	</select>

	<select id="countBookmark" parameterType="bookmark" resultType="int">
		select count(*)
		from tbl_bookmark
		where movie_number = #{movieNumber} and user_number =#{userNumber}
	</select>

	<insert id="addBookmark" parameterType="bookmark">
		insert into tbl_bookmark
		(bookmark_number,movie_number,user_number)
		values(seq_bookmark.nextval,#{movieNumber},#{userNumber})
	</insert>

	<delete id="deleteBookmark" parameterType="bookmark">
		DELETE FROM
		tbl_bookmark
		WHERE bookmark_number = #{bookmarkNumber}
	</delete>

</mapper>