<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
	<mapper namespace="com.gigabox.mapper.JoinMapper">
	
		<resultMap type="join" id="joinResultMap">
			<result property="userNumber" column="USER_NUMBER" />
			<result property="userId" column="USER_ID" />
			<result property="userPw" column="USER_PW" />
			<result property="userName" column="USER_NAME" />
			<result property="userGender" column="USER_GENDER" />
			<result property="userBirthday" column="USER_BIRTHDAY" />
			<result property="userEmail" column="USER_EMAIL" />
			<result property="userTel" column="USER_TEL" />
			<result property="userAddr" column="USER_ADDR" />
			<result property="userReg" column="USER_REGISTERDATE" />
			<result property="userAgree" column="USER_AGREE" />
			<result property="userMileage" column="USER_MILEAGE" />
			<result property="userJoinAuth" column="USER_JOINAUTH"/>
		</resultMap>
	
	<insert id="userJoinInsert" parameterType="join">
			INSERT INTO TBL_USER (
			    USER_NUMBER, USER_ID, USER_PW, USER_NAME, 
			    USER_GENDER, USER_BIRTHDAY, USER_EMAIL, USER_TEL, 
			    USER_ADDR, USER_AGREE)  
			VALUES (
			  seq_user.nextval, 
			  #{userId}, #{userPw}, 
			  #{userName}, #{userGender}, #{userBirthday}, 
			  #{userEmail}, #{userTel}, 
			  #{userAddr}, 'Y'
			)
	</insert>
	
	<select id="idDuplicationCheckSelect" parameterType="string" resultType="int">
		SELECT COUNT(*) 
		FROM TBL_USER 
		WHERE USER_ID = #{0} 
	</select>
	
	<update id="pwEncryptionExec" parameterType="string">
		UPDATE TBL_USER 
		SET USER_PW = #{userPw} 
		WHERE USER_ID = #{userId} 
	</update>

	<!-- <select id="selectOne" parameterType="String">
        SELECT * FROM TBL_USER WHERE USER_ID = #{userId}
    </select> -->

<!-- 	<update id="updateUser" parameterType="update">
        UPDATE TBL_USER 
        SET USER_NAME = #{userName}, 
        USER_BIRTHDAY = #{userBirthday}, 
        USER_TEL = #{userTel}, 
        USER_ADDR = #{userAddr}
        where USER_ID = #{userID}
    </update> -->
	
	</mapper>