<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gigabox.mapper.MovieMapper">

	<resultMap id="movieResultMap" type="movie">
		<result property="movieNumber" column="MOVIE_NUMBER" />
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieType" column="MOVIE_TYPE" />
		<result property="movieRating" column="MOVIE_RATING" />
		<result property="movieReleasedate" column="MOVIE_RELEASEDATE" />
		<result property="movieDirector" column="MOVIE_DIRECTOR" />
		<result property="movieCast" column="MOVIE_CAST" />
		<result property="movieScreentime" column="MOVIE_SCREENTIME" />
		<result property="movieGenre" column="MOVIE_GENRE" />
		<result property="movieStoryline" column="MOVIE_STORYLINE" />
		<result property="movieEngname" column="MOVIE_ENGNAME" />
		<result property="moviePoster" column="MOVIE_POSTER" />
		<result property="movieSteelcut" column="MOVIE_STEELCUT" />
		<result property="movieTrailer" column="MOVIE_TRAILER" />
		<result property="movieCode" column="MOVIE_CODE" />
		<result property="movieStatus" column="MOIVE_STATUS" />
		<result property="reviewStarscore" column="REVIEW_STARSCORE" />

	</resultMap>

	<select id="movieDetail" parameterType="int" resultType="movie"
		resultMap="movieResultMap">
		SELECT *
			FROM ( SELECT LIST.*, ROWNUM AS RNUM, NVL(REVIEW.REVIEW_STARSCORE, 0) AS REVIEW_STARSCORE 
				FROM ( 
					SELECT TBL_MOVIE.*  
					FROM TBL_MOVIE 
					ORDER BY MOVIE_RELEASEDATE DESC
				) LIST 
      			LEFT OUTER JOIN (
			        SELECT MOVIE_NUMBER, NVL(AVG(NVL(REVIEW_STARSCORE, 0)), 0) AS REVIEW_STARSCORE
			        FROM TBL_REVIEW GROUP BY MOVIE_NUMBER 
			    ) REVIEW 
      			ON LIST.MOVIE_NUMBER = REVIEW.MOVIE_NUMBER
			)
			WHERE MOVIE_NUMBER = #{movieNumber} 
	</select>


	<select id="movieListRecent" parameterType="movieRownum" resultType="movie" resultMap="movieResultMap">
		SELECT *
			FROM ( SELECT LIST.*, ROWNUM AS RNUM, NVL(REVIEW.REVIEW_STARSCORE, 0) AS REVIEW_STARSCORE 
				FROM ( 
					SELECT TBL_MOVIE.*  
					FROM TBL_MOVIE 
					<![CDATA[
					WHERE MOVIE_RELEASEDATE BETWEEN TO_CHAR(SYSDATE - 30, 'YYYYMMDD') AND TO_CHAR(SYSDATE, 'YYYYMMDD') 
					]]>
					AND MOVIE_STATUS = '상영중' 
					ORDER BY MOVIE_RELEASEDATE DESC
				) LIST 
      			LEFT OUTER JOIN (
			        SELECT MOVIE_NUMBER, NVL(AVG(NVL(REVIEW_STARSCORE, 0)), 0) AS REVIEW_STARSCORE
			        FROM TBL_REVIEW GROUP BY MOVIE_NUMBER 
			    ) REVIEW 
      			ON LIST.MOVIE_NUMBER = REVIEW.MOVIE_NUMBER
			)
			WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}  
	</select>
	
	<select id="movieListCountRecent" resultType="int">
		SELECT NVL(COUNT(1), 0) 
			FROM ( SELECT LIST.*, ROWNUM AS RNUM, NVL(REVIEW.REVIEW_STARSCORE, 0) AS REVIEW_STARSCORE 
				FROM ( 
					SELECT TBL_MOVIE.*  
					FROM TBL_MOVIE 
					<![CDATA[
					WHERE MOVIE_RELEASEDATE BETWEEN TO_CHAR(SYSDATE - 30, 'YYYYMMDD') AND TO_CHAR(SYSDATE, 'YYYYMMDD') 
					]]>
					AND MOVIE_STATUS = '상영중' 
				) LIST 
      			LEFT OUTER JOIN (
			        SELECT MOVIE_NUMBER, NVL(AVG(NVL(REVIEW_STARSCORE, 0)), 0) AS REVIEW_STARSCORE
			        FROM TBL_REVIEW GROUP BY MOVIE_NUMBER 
			    ) REVIEW 
      			ON LIST.MOVIE_NUMBER = REVIEW.MOVIE_NUMBER
			)
	</select>
	
	<select id="movieListTobe" parameterType="movieRownum" resultType="movie" resultMap="movieResultMap">
		SELECT *
			FROM ( SELECT LIST.*, ROWNUM AS RNUM, NVL(REVIEW.REVIEW_STARSCORE, 0) AS REVIEW_STARSCORE 
				FROM ( 
					SELECT TBL_MOVIE.*  
					FROM TBL_MOVIE 
					<![CDATA[
					WHERE MOVIE_RELEASEDATE >= TO_CHAR(SYSDATE + 1, 'YYYYMMDD') 
					]]>
					AND MOVIE_STATUS = '상영전' 
					ORDER BY MOVIE_RELEASEDATE DESC
				) LIST 
      			LEFT OUTER JOIN (
			        SELECT MOVIE_NUMBER, NVL(AVG(NVL(REVIEW_STARSCORE, 0)), 0) AS REVIEW_STARSCORE
			        FROM TBL_REVIEW GROUP BY MOVIE_NUMBER 
			    ) REVIEW 
      			ON LIST.MOVIE_NUMBER = REVIEW.MOVIE_NUMBER
			)
			WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd}  
	</select>
	
	<select id="movieListCountTobe" resultType="int">
		SELECT NVL(COUNT(1), 0) 
			FROM ( SELECT LIST.*, ROWNUM AS RNUM, NVL(REVIEW.REVIEW_STARSCORE, 0) AS REVIEW_STARSCORE 
				FROM ( 
					SELECT TBL_MOVIE.*  
					FROM TBL_MOVIE 
					<![CDATA[
					WHERE MOVIE_RELEASEDATE >= TO_CHAR(SYSDATE + 1, 'YYYYMMDD') 
					]]>
					AND MOVIE_STATUS = '상영전' 
					ORDER BY MOVIE_RELEASEDATE DESC
				) LIST 
      			LEFT OUTER JOIN (
			        SELECT MOVIE_NUMBER, NVL(AVG(NVL(REVIEW_STARSCORE, 0)), 0) AS REVIEW_STARSCORE
			        FROM TBL_REVIEW GROUP BY MOVIE_NUMBER 
			    ) REVIEW 
      			ON LIST.MOVIE_NUMBER = REVIEW.MOVIE_NUMBER
			)
	</select>
	
	<select id="movieList" resultType="movie">
		select *
		from tbl_movie
	</select>


</mapper>