<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gigabox.mapper.ReviewMapper">

	<resultMap id="reviewResultMap" type="review">
		<result property="reviewNumber" column="REVIEW_NUMBER" />
		<result property="movieNumber" column="MOVIE_NUMBER" />
		<result property="userNumber" column="USER_NUMBER" />
		<result property="reviewContent" column="REVIEW_CONTENT" />
		<result property="reviewStarscore" column="REVIEW_STARSCORE" />
		<result property="reviewLike" column="REVIEW_LIKE" />
		<result property="reviewRegisterdate" column="REVIEW_REGISTERDATE" />
	</resultMap>

	<select id="reviewList" parameterType="reviewRownum" resultType="review" resultMap="reviewResultMap">
		SELECT *
		FROM ( 
			SELECT LIST.*, ROWNUM AS RNUM
			FROM (
				SELECT * 
				FROM TBL_REVIEW 
				WHERE MOVIE_NUMBER = #{movieNumber} 
				ORDER BY REVIEW_REGISTERDATE DESC 
			) LIST 
		) 
		WHERE RNUM BETWEEN #{rowStart} AND #{rowEnd} 
	</select>
	
	<select id="reviewListCount" parameterType="int" resultType="int">
		SELECT NVL(COUNT(1), 0)
		FROM (
			SELECT LIST.*, ROWNUM AS RNUM
			FROM (  
					SELECT * FROM TBL_REVIEW 
					WHERE MOVIE_NUMBER = #{movieNumber} 
					ORDER BY REVIEW_REGISTERDATE DESC 
			) LIST 
		)
		
	</select>

	<insert id="reviewInsert" parameterType="review">
		INSERT INto TBL_REVIEW
		  (REVIEW_NUMBER, USER_NUMBER, MOVIE_NUMBER, REVIEW_CONTENT, REVIEW_STARSCORE, REVIEW_REGISTERDATE) 
		VALUES (SEQ_REVIEW.NEXTVAL, #{userNumber}, #{movieNumber}, #{reviewContent}, #{reviewStarscore}, SYSDATE ) 
	</insert>

	<update id="reviewUpdate" parameterType="review">
		UPDATE TBL_REVIEW 
		SET REVIEW_CONTENT = #{reviewContent}, REVIEW_STARSCORE = #{reviewStarscore} 
		WHERE REVIEW_NUMBER = #{reviewNumber} 
	</update>

	<delete id="reviewDelete" parameterType="review">
		DELETE FROM TBL_REVIEW 
		WHERE REVIEW_NUMBER = #{reviewNumber} 
	</delete>
	
	<select id="reviewRatingAverage" parameterType="int">
		SELECT NVL(AVG(NVL(REVIEW_STARSCORE, 0)), 0)  
		FROM TBL_REVIEW 
		WHERE MOVIE_NUMBER = #{movieNumber} 
	</select>

</mapper>
