<?xml version="1.0" encoding="UTF-8" ?>
	<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="com.gigabox.mapper.ScheduleMapper">
	
	<resultMap type="schedule" id="scheduleResultMap">
		<result property="scheduleNumber" column="SCHEDULE_NUMBER" />
		<result property="scheduleType" column="SCHEDULE_TYPE" />
		<result property="scheduleStart" column="SCHEDULE_START" />
		<result property="scheduleEnd" column="SCHEDULE_END" />
		
		<result property="movieNumber" column="MOVIE_NUMBER" />
		<result property="movieTitle" column="MOVIE_TITLE" />
		<result property="movieType" column="MOVIE_TYPE" />
		<result property="movieReleasedate" column="MOVIE_RELEASEDATE" />
		<result property="movieScreentime" column="MOVIE_SCREENTIME" />
		<result property="movieStatus" column="MOVIE_STATUS" />
		<result property="movieRating" column="MOVIE_RATING" />
		
		<result property="movieroomNumber" column="MOVIEROOM_NUMBER" />
		<result property="movieroomName" column="MOVIEROOM_NAME" />
		<result property="movieroom2D" column="MOVIEROOM_2D" />
		<result property="movieroom3D" column="MOVIEROOM_3D" />
		<result property="movieroom4D" column="MOVIEROOM_4D" />
		
		<result property="branchNumber" column="BRANCH_NUMBER" />
		<result property="branchName" column="BRANCH_NAME" />
	</resultMap>
	
	<select id="scheduleList" resultType="schedule" resultMap="scheduleResultMap">
		SELECT * 
		FROM 
		(
			SELECT LIST.*, ROWNUM AS RNUM 
			FROM 
			(
		        SELECT SCHEDULE.*, 
	        		MOVIE.MOVIE_TITLE, MOVIE.MOVIE_TYPE, MOVIE.MOVIE_RELEASEDATE, MOVIE.MOVIE_SCREENTIME, 
	        		MOVIE.MOVIE_STATUS, MOVIE.MOVIE_RATING, 
	                MOVIEROOM.BRANCH_NUMBER, MOVIEROOM.MOVIEROOM_NAME,  
	                MOVIEROOM.MOVIEROOM_2D, MOVIEROOM.MOVIEROOM_3D, MOVIEROOM.MOVIEROOM_4D, 
	                BRANCH.BRANCH_NAME 
		        FROM TBL_SCHEDULE SCHEDULE 
		            LEFT JOIN   
		            (
		                SELECT MOVIE_NUMBER, MOVIE_TITLE, MOVIE_TYPE, MOVIE_RELEASEDATE, MOVIE_SCREENTIME, MOVIE_STATUS, 
		                	   MOVIE_RATING  
						        FROM TBL_MOVIE 
					      )  MOVIE ON SCHEDULE.MOVIE_NUMBER = MOVIE.MOVIE_NUMBER
		            LEFT JOIN
		            (
		                SELECT MOVIEROOM_NUMBER, BRANCH_NUMBER, MOVIEROOM_NAME, MOVIEROOM_2D, MOVIEROOM_3D, MOVIEROOM_4D 
						        FROM TBL_MOVIEROOM 
					      )  MOVIEROOM ON SCHEDULE.MOVIEROOM_NUMBER = MOVIEROOM.MOVIEROOM_NUMBER 
		            LEFT JOIN 
		            (
		                SELECT BRANCH_NUMBER, BRANCH_NAME  
						        FROM TBL_BRANCH 
					      )  BRANCH ON BRANCH.BRANCH_NUMBER = MOVIEROOM.BRANCH_NUMBER 
				WHERE MOVIE.MOVIE_STATUS = '상영중' AND SCHEDULE_START > (SYSDATE + 2/24) 
				<if test="branchNumber != 0">
					AND BRANCH.BRANCH_NUMBER = #{branchNumber} 
				</if>
				<if test="movieroomNumber != 0">
					AND MOVIEROOM.MOVIEROOM_NUMBER = #{movieroomNumber} 
				</if>
				<if test="movieNumber != 0">
					AND MOVIE.MOVIE_NUMBER = #{movieNumber} 
				</if>
				<if test="scheduleType != null and scheduleType != ''">
					AND SCHEDULE.SCHEDULE_TYPE = #{scheduleType} 
				</if>
				<if test="scheduleStart != null">
					<![CDATA[
					AND TO_DATE(SCHEDULE_START,'YYYY-MM-DD HH24:MI') 
						> TO_DATE(#{scheduleStart},'YYYY-MM-DD HH24:MI') 
					]]>
				</if>
				<if test="scheduleDate != null">
					AND TO_DATE(TRUNC(SCHEDULE_START, 'DD'),'YYYY-MM-DD') = 
						TO_DATE(TRUNC(#{scheduleDate}, 'DD'),'YYYY-MM-DD') 
				</if>
				ORDER BY SCHEDULE.SCHEDULE_START ASC, MOVIE.MOVIE_TITLE ASC 
      		) LIST
		) 
	</select>
	
	<select id="scheduleDetail" parameterType="schedule" resultType="schedule" resultMap="scheduleResultMap">
		SELECT SCHEDULE.*, 
       		MOVIE.MOVIE_TITLE, MOVIE.MOVIE_TYPE, MOVIE.MOVIE_RELEASEDATE, MOVIE.MOVIE_SCREENTIME, 
       		MOVIE.MOVIE_STATUS, MOVIE.MOVIE_RATING, 
               MOVIEROOM.BRANCH_NUMBER, MOVIEROOM.MOVIEROOM_NAME,  
               MOVIEROOM.MOVIEROOM_2D, MOVIEROOM.MOVIEROOM_3D, MOVIEROOM.MOVIEROOM_4D, 
               BRANCH.BRANCH_NAME 
        FROM TBL_SCHEDULE SCHEDULE 
            LEFT JOIN   
            (
                SELECT MOVIE_NUMBER, MOVIE_TITLE, MOVIE_TYPE, MOVIE_RELEASEDATE, MOVIE_SCREENTIME, MOVIE_STATUS, 
                	   MOVIE_RATING  
				        FROM TBL_MOVIE 
			      )  MOVIE ON SCHEDULE.MOVIE_NUMBER = MOVIE.MOVIE_NUMBER
            LEFT JOIN
            (
                SELECT MOVIEROOM_NUMBER, BRANCH_NUMBER, MOVIEROOM_NAME, MOVIEROOM_2D, MOVIEROOM_3D, MOVIEROOM_4D 
				        FROM TBL_MOVIEROOM 
			      )  MOVIEROOM ON SCHEDULE.MOVIEROOM_NUMBER = MOVIEROOM.MOVIEROOM_NUMBER 
            LEFT JOIN 
            (
                SELECT BRANCH_NUMBER, BRANCH_NAME  
				        FROM TBL_BRANCH 
			      )  BRANCH ON BRANCH.BRANCH_NUMBER = MOVIEROOM.BRANCH_NUMBER 
		WHERE SCHEDULE_NUMBER = #{scheduleNumber}  
	</select>
	
	
	<select id="scheduleBranchList" resultType="schedule" resultMap="scheduleResultMap">
		SELECT * 
		FROM 
		(
			SELECT LIST.*, ROWNUM AS RNUM 
			FROM 
			(
		        SELECT DISTINCT BRANCH.BRANCH_NAME, BRANCH.BRANCH_NUMBER  
		        FROM TBL_SCHEDULE SCHEDULE 
		            LEFT JOIN   
		            (
		                SELECT MOVIE_NUMBER, MOVIE_TITLE, MOVIE_TYPE, MOVIE_RELEASEDATE, MOVIE_SCREENTIME, MOVIE_STATUS, 
		                	   MOVIE_RATING  
						        FROM TBL_MOVIE 
					      )  MOVIE ON SCHEDULE.MOVIE_NUMBER = MOVIE.MOVIE_NUMBER
		            LEFT JOIN
		            (
		                SELECT MOVIEROOM_NUMBER, BRANCH_NUMBER, MOVIEROOM_NAME, MOVIEROOM_2D, MOVIEROOM_3D, MOVIEROOM_4D 
						        FROM TBL_MOVIEROOM 
					      )  MOVIEROOM ON SCHEDULE.MOVIEROOM_NUMBER = MOVIEROOM.MOVIEROOM_NUMBER 
		            LEFT JOIN 
		            (
		                SELECT BRANCH_NUMBER, BRANCH_NAME  
						        FROM TBL_BRANCH 
					      )  BRANCH ON BRANCH.BRANCH_NUMBER = MOVIEROOM.BRANCH_NUMBER 
				WHERE MOVIE.MOVIE_STATUS = '상영중' AND SCHEDULE_START > (SYSDATE + 2/24) 
				<if test="branchNumber != 0">
					AND BRANCH.BRANCH_NUMBER = #{branchNumber} 
				</if>
				<if test="movieroomNumber != 0">
					AND MOVIEROOM.MOVIEROOM_NUMBER = #{movieroomNumber} 
				</if>
				<if test="movieNumber != 0">
					AND MOVIE.MOVIE_NUMBER = #{movieNumber} 
				</if>
				<if test="scheduleType != null and scheduleType != ''">
					AND SCHEDULE.SCHEDULE_TYPE = #{scheduleType} 
				</if>
				<if test="scheduleStart != null">
					<![CDATA[
					AND TO_DATE(SCHEDULE_START,'YYYY-MM-DD HH24:MI') 
						> TO_DATE(#{scheduleStart},'YYYY-MM-DD HH24:MI') 
					]]>
				</if>
				<if test="scheduleDate != null">
					AND TO_DATE(TRUNC(SCHEDULE_START, 'DD'),'YYYY-MM-DD') = 
						TO_DATE(TRUNC(#{scheduleDate}, 'DD'),'YYYY-MM-DD') 
				</if>
      		) LIST
		) 
	</select>
	
	<select id="scheduleMovieList" resultType="schedule" resultMap="scheduleResultMap">
		SELECT * 
		FROM 
		(
			SELECT LIST.*, ROWNUM AS RNUM 
			FROM 
			(
		        SELECT DISTINCT MOVIE.*  
		        FROM TBL_SCHEDULE SCHEDULE 
		            LEFT JOIN   
		            (
		                SELECT MOVIE_NUMBER, MOVIE_TITLE, MOVIE_TYPE, MOVIE_RELEASEDATE, MOVIE_SCREENTIME, MOVIE_STATUS, 
		                	   MOVIE_RATING  
						        FROM TBL_MOVIE 
					      )  MOVIE ON SCHEDULE.MOVIE_NUMBER = MOVIE.MOVIE_NUMBER
		            LEFT JOIN
		            (
		                SELECT MOVIEROOM_NUMBER, BRANCH_NUMBER, MOVIEROOM_NAME, MOVIEROOM_2D, MOVIEROOM_3D, MOVIEROOM_4D 
						        FROM TBL_MOVIEROOM 
					      )  MOVIEROOM ON SCHEDULE.MOVIEROOM_NUMBER = MOVIEROOM.MOVIEROOM_NUMBER 
		            LEFT JOIN 
		            (
		                SELECT BRANCH_NUMBER, BRANCH_NAME  
						        FROM TBL_BRANCH 
					      )  BRANCH ON BRANCH.BRANCH_NUMBER = MOVIEROOM.BRANCH_NUMBER 
				WHERE MOVIE.MOVIE_STATUS = '상영중' AND SCHEDULE_START > (SYSDATE + 2/24) 
				<if test="branchNumber != 0">
					AND BRANCH.BRANCH_NUMBER = #{branchNumber} 
				</if>
				<if test="movieroomNumber != 0">
					AND MOVIEROOM.MOVIEROOM_NUMBER = #{movieroomNumber} 
				</if>
				<if test="movieNumber != 0">
					AND MOVIE.MOVIE_NUMBER = #{movieNumber} 
				</if>
				<if test="scheduleType != null and scheduleType != ''">
					AND SCHEDULE.SCHEDULE_TYPE = #{scheduleType} 
				</if>
				<if test="scheduleStart != null">
					<![CDATA[
					AND TO_DATE(SCHEDULE_START,'YYYY-MM-DD HH24:MI') 
						> TO_DATE(#{scheduleStart},'YYYY-MM-DD HH24:MI') 
					]]>
				</if>
				<if test="scheduleDate != null">
					AND TO_DATE(TRUNC(SCHEDULE_START, 'DD'),'YYYY-MM-DD') = 
						TO_DATE(TRUNC(#{scheduleDate}, 'DD'),'YYYY-MM-DD') 
				</if>
      		) LIST
		) 
	</select>
	
</mapper>